.background {
  height: 150%;
  width: 50%;
  right: 0;
  background-color: #202124;
  position: absolute;
  animation: bgAnimation 1.5s ease-in-out forwards;
}

@keyframes bgAnimation {
  0% {
    left: 0;
    width: 0%;
  }
  33% {
    left: 0;
    width: 150%;
  }
  66% {
    right: 0;
    width: 150%;
  }
  100% {
    right: 0;
    width: 50%;
  }
}
