.marqueeTextContainer {
  position: absolute;
  bottom: 0;
  display: flex;
  mix-blend-mode: difference;
  animation-delay: 0s;
  animation: marquuEntrance 5s ease-in-out forwards;
}

.marqueeText {
  display: flex;
  white-space: nowrap;
  font-size: 6rem;
  color: #ffffff;
  mix-blend-mode: difference;
  opacity: 0.1;
  bottom: 0;
  animation: marquee 15s infinite linear;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquuEntrance {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(0%);
  }
}
